# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Chess.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Claudio\Documents\C# Projects\Chess\Chess\.idea\.idea.Chess\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
